h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1l8y6c6*_gcl_au*MTAzNTM2MjA4My4xNzE1NjcxNjY2*_ga*NjEzMjE4NjUzOS4xNzE1NjcxNjYy*_ga_3LRZM6TM9L*MTcxNjEwMzQ1NS4yNy4xLjE3MTYxMDkxNzYuNDMuMC4w);

}

h2 .brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumaquamarine;
}

.hightlight {
    font-weight: bold;
    color: blue;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}
