body {
    cursor:url(img/majima.ico), auto;
    cursor:url(img/majima.ico),-moz-zoom-out;
    cursor:url(img/majima.ico),pointer;
    text-align: center;
    background-color: rgb(217, 232, 245);
    
}

.btn {
    min-width: 20px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    color: #666666;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 6px 6px #06f;
    padding: 10px 20px;
}
.btn:active {
    background: #ff8888;
    color: #ffffff;
    box-shadow: none;
    animation: anim 100ms;
}
@keyframes anim {
    0% { background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #ffffff 0%, #ffffff 100%); }
    25% { background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #ffffff 25%, #ffffff 100%); }
    50% { background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #ffffff 50%, #ffffff 100%); }
    75% { background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #ffffff 75%, #ffffff 100%); }
    100% { background: radial-gradient(circle at center, #ff8888 99%, #ffffff 100%, #ffffff 100%); color: #ffffff; }
}

input {
    border: none;
    border-radius: 5px;

}

span {
    background-color: #ffffff;
    border-radius: 5px;
}

#game_div {
    text-align: center;
}

#game_div table {
    margin: 0 auto;
}
