body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #88ee9b;
    flex-direction: column;
}

button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 5px;
    font-size: xx-large;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 900;
    color: brown;
    background-color: aliceblue;
    cursor: pointer;
}

#canvas {
    display: none;
}
